
<link rel="stylesheet" href="/css/dashboardstyle.css">
<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">School App</a>
      </header>
      <ul class="nav">
        <li>
          <a href="#">
           <i class="fas fa-child"></i> Attendance
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-book"></i> Results
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-school"></i> My Class  
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-user-alt"></i> Dashboard
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-chalkboard-teacher"></i> My Subjects
          </a>
        </li>

        <li>

        </li>
      </ul>
    </div>
    <!-- Content -->
    <div id="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
              </a>
            </li>
            <li><a href="#">Student: <%= name %></a></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <h1>Do Stuff</h1>
        <p>
        <a href="users/logout" class="btn btn-secondary">Logout</a>
        </p>
      </div>
    </div>
  </div>

